<div id="footer" class="nochat">
	<div id="footer-wrap">
		<h2>Team Hyphen</h2>
		<div id="team-pictures">
			<a href="http://github.com/samdk"><img src="http://gravatar.com/avatar/f0517929c3c4135ba1ffd1e0e3183f56?s=50" /></a>
			<a href="http://github.com/prasincs"><img src="http://gravatar.com/avatar/d1e7f41bdeac8d415c65979ba9c6f2ff?s=50" /></a>
			<a href="http://github.com/rgee"><img src="http://gravatar.com/avatar/7657362a2a1028b18c8d99358c64a32f?s=50" /></a>
			<a href="http://github.com/mwylde"><img src="http://gravatar.com/avatar/1c79e00f296abdbfe51b170e442eff04?s=50" /></a>
		</div>
		<h2 id="rr">Rails Rumble 2010</h2>
		<p>Built on the GitHub API.</p>
	</div>
</div>
